.sider-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 16px;
    user-select: none;

    &-img {
        height: 32px;
        transition: all .2s linear;
    }

    &-text {
        display: inline-block;
        line-height: 32px !important;
        font-size: 20px !important;
        color: #fff !important;
        margin: 0 0 0 16px !important;
    }
}

.sider-logo-collapsed {
    .sider-logo-img {
        transform: translateX(8px);
    }

    .sider-logo-text {
        display: none;
    }
}