.select-word-base-model {
    &-label {
        font-size: 14px !important;
        font-weight: 400 !important;
        margin-bottom: 12px !important;
    }

    &-select {
        width: 100%;
    }
}