.container {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
}

.el-hidden {
    display: none !important;
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (max-width: 767px) {
    .footer,
    .header {
        padding: 24px 25px !important;
    }

    .container {
        padding: 18px 20px;
    }
}
