$footerHeight: 48px;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $footerHeight;

  background-color: rgba(46, 50, 56, .05);
  font-size: 12px;

  > * {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin: 0;
    }
  }

  &-beian {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > a {
      margin-left: 8px;
      display: inline-block;
      text-decoration: underline;
      color: var(--color-text-1);
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    
    > div:first-child {
      display: none;
    }
  }
}